<h1 class= "topic">Please Sing In</h1>

<div class="container">
    <%= form_with url: session_path, local: true do |f| %>

        <div>
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>

        <div>
            <%= f.label :password %>
            <%= f.password_field :password%>
        </div>



        <%= f.submit 'Sign In' %>
    <% end %>
</div>
