<h1 class = "topic" >Change Password</h1>

<div class="container">
  <%= form_with  model: @user, local: true do |f| %>

     <div>
       <%= f.label :current_password %>
       <%= f.text_field :password%>
     </div>

     <div>
       <%= f.label :new_password %>
       <%= f.text_field :new_password%>
     </div>

     <div>
       <%= f.label  :password_confirmation %>
       <%= f.text_area :password_confirmation %>
     </div>

     <div><%=f.submit "Save"%></div>

  <% end %>
</div>
